/* Preventing overflow on the homepage. Tried some different solutions for the gallery but they all broke formatting. */

.indexbody {
	overflow-x: hidden;
}

/*background images, used a gradient to make the white text more visible*/

.fadedbg0 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/waterfalls.png");
	background-size: cover;
}

.fadedbg1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/junglecat1.png");
	background-size: cover;
}

.fadedbg2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/junglepanther.png");
	background-size: cover;
}

.fadedbg3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/jungleleopard.png");
	background-size: cover;
}
/*Formatting for the gallery cards tried lots of things but did not find a method to prevent the overflow in time and still retain the content.  */

.card { 
	color: black;
	
}

/* Styling for all the text, fonts etc */

/*Coloring for the the Nav linls */

.homenav {
	color: turquoise;
}

.gallerynav {
	color: tomato;
}

.newsnav {
	color: yellowgreen;
}

.donatenav {
	color: yellow;
}

/* Styling classes for the buttons on the main page. */

.homebtn {
	color: turquoise;
	border-color: turquoise;
}

.homebtn:hover {
	background: turquoise;
	color: white;
}

.donatebtn {
	color: yellow;
	border-color: yellow;
}

.donatebtn:hover {
	background: yellow;
	color: black;
}

.gallerybtn {
	color: tomato;
	border-color: tomato;
}

.gallerybtn:hover {
	background: tomato;
	color: black;
}

.newsbtn {
	color: yellowgreen;
	border-color: yellowgreen;
}

.newsbtn:hover {
	background: yellowgreen;
	color: black;
}

/* Centering and styling all text.*/

div {
	text-align: center;
}

h1, h2, h3 {
	font-family: Impact;
}

p {
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.fixed-header, .fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0
}

.fixed-header {
	z-index: 2;
}

/* newsletter form */

button {
	width: 50%;
}

#email {
	width: 100%;
}

/* Modals*/

#newsmodal, #donatemodal {
	color: black;
}