/*rezsing of all images*/
.jumbotron-fluid > img {
	display: block;
	max-width: 300px;
	max-height: 250px;
	height: auto;
	width: auto;
  }
  .jumbotron-fluid {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/waterfalls.png");
  background-size: cover;
  }
/*
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
	image: */
}
 
  /*sticky footer and header, not sure if these are all req for my current implementation think only the z axis for the header is needed. Probably the padding, otherwise it will be really thin, there are some setting i could use but i ran out of time. */
	 body {        
	  padding-top: 60px;
	  padding-bottom: 40px; } */
  
	  .container{
		  width: 100%;
		  margin: 0 auto; /
  
	  }
	 
	  
  
	  .fixed-header, .fixed-footer {
		  width: 100%;
		  position: fixed;        
		  padding: 10px 0
	  }
	  .fixed-header{
		  
		  z-index: 2;
		  
	  }
	  .fixed-footer {
		
		  
			bottom: 0%;
			text-align: center;
  
		} 